.sidebar {
  top: 0%;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  position: sticky ;
  background-color: #e6e6e6 ;
  transition: width 0.7s;
  padding: 1%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}
  
.expanded {
  width: 20%;
  padding-right: 3%;
  padding-left: 2%;
  overflow-y: scroll;
}

.toggle-button {
  position: absolute;
  top: 0px;
  left: 0px;
 
}

.expanded::-webkit-scrollbar {
  width: 0 !important;
}

.icon-hover:hover {
  filter: invert(53%) sepia(57%) saturate(3041%) hue-rotate(329deg) brightness(95%) contrast(94%);
}

.selected {
  filter: invert(53%) sepia(57%) saturate(3041%) hue-rotate(329deg) brightness(95%) contrast(94%);
}
